DISCORD_TOKEN=put-your-discord-bot-token-here
DISCORD_CLIENT_ID=put-your-discord-application-client-id-here
DISCORD_BOT_CHANNEL_ID=put-your-discord-bot-channel-id-here
SOUNDCLOUD_CLIENT_ID=put-your-soundcloud-client-id-here
